
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link href="//fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agroworld</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<img src="{% static "blog/aw.png" %}" style="width:35px; height: 35px;" align="left" />
	&nbsp;&nbsp;
<h1><font color="#2FA803">AGRO</font>WORLD</h1>
</div>
<div style="clear: both;">&nbsp;</div>
<div id="content">
<div id="colOne">
<div id="menu1">
<ul>
<li id="menu-01"><a href="/">Home</a></li>
<li id="menu-02"><a href="{% url 'about' %}">About Us</a></li>
<li id="menu-03"><a href="{% url 'crops' %}">Crops</a></li>
<li id="menu-03"><a href=" {% url 'products' %} ">Products</a></li>
<li id="menu-04"><a href=" {% url 'images' %} ">Images</a></li>
<li id="menu-05"><a href="{% url 'contact' %}">Contact Us</a></li>
</ul>
</div>
</div>
<div id="colTwo">
<h1><u>About Us</u></h1><br>
<ul>
<li>We <strong>Agroworld</strong> is an organic farming development system who introduces poison-free fruits and vegetables.</li><br>
<li>The concept of organic farming is not new to Indian farming community.</li><br>
<li>Various technologies like Biological agriculture, Biodynamic farming, Health food, Green
Food have been in vogue in the area of organic farming.</li><br>
 <li>But it is well recognized that organic agriculture is a holistic food production management system, which promotes and
sustains agro-ecosystem, health, biodiversity, biological cycles and soil biological activity. </li><br>

<li>In general, organic farming hinges on extensive use of naturally available resources, prefer-
ably on-farm inputs to enhance soil fertility, in contrast to chemical fertilizers.</li><br>


<li>The techniques that we are using in <strong>Agroworld</strong> is Crop rotation,Companion planting,Mixed cropping,Biological pest control and fostering of insect predators.</li><br>
<li>We use quality compost,cover crops (such as nitrogen-rich alfalfa) and crop rotation to nourish soil naturally,and to allow it to rest and regenerate.</li><br>
<li>We allows the plants to grown in healthy soil which are better able to feed and protect themselves from pests and disease,which means they won't require heavy applications of fertilizers and pesticides.</li><br>
<li>We are also careful about how they store and compost animal wastes,in order to safeguard air and water systems.</li><br>
<li>We tailor our crops according to climate and soil,to optimise the natural growth cycle.
</li><br>
<li>We also promote biodiversity,by growing a variety of crops,rather than one single crop.</li><br>
<li>Through all of these methods,we prevent soil erosion,conserve energy,and help protect local wildlife and waterbodies.</li><br>
<li>We use only organic pesticides such as Neem juice/Neem oil spray,Salt spray,Mineral Oil,Onion and Garlic spray,Tobacco spray etc..</li>
</ul>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
	<p>Copyright&copy; 2016&nbsp;Agroworld.pythonanywhere.com.&nbsp;All Rights Reserved&nbsp;&nbsp;&nbsp;<a href="{% url 'privacy' %}">Privacy Policy</a></p>
</div>
</body>
</html>