
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link href="//fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agroworld</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1><font color="#2FA803">AGRO</font>WORLD</h1>
	
</div>
	<div style="clear: both;">&nbsp;</div>
<div id="content">
	
	<div id="colOne">
		<div id="menu1">
			<ul>
				<li id="menu-01"><a href="/">Home</a></li>
				<li id="menu-02"><a href="{% url 'about' %}">About Us</a></li>
				<li id="menu-03"><a href=" {% url 'products' %} ">Products</a></li>
				<li id="menu-04"><a href="{% url 'contact' %}">Contact Us</a></li>
			</ul>
		

		</div>
		</div>

<div id="colTwo">
		<h1><u>Contact Us</u></h1><br>

		<h4>Contact Person :- Balagopalan.I <br><br>
		Email :-<a href ="#"><font color="blue"> agroworld016@gmail.com</font></a><br><br>
		Phone :- +91 9946231447</h4>
		
	</div>
<div style="clear: both;">&nbsp;</div>
		</div>
		</body>
		</html>