
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link href="//fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agroworld</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />




</head>
<body>
<div id="header">
<h1><font color="#2FA803">AGRO</font>WORLD</h1>
</div>
<div style="clear: both;">&nbsp;</div>
<div id="content">
<div id="colOne">
<div id="menu1">
<ul>
<li id="menu-01"><a href="/">Home</a></li>
<li id="menu-02"><a href="{% url 'about' %}">About Us</a></li>
<li id="menu-03"><a href="{% url 'crops' %}">Crops</a></li>
<li id="menu-03"><a href=" {% url 'products' %} ">Products</a></li>
<li id="menu-04"><a href=" {% url 'images' %} ">Images</a></li>
<li id="menu-05"><a href="{% url 'contact' %}">Contact Us</a></li>
</ul>
</div>
</div>
<div id="colTwo">
<h1><u>Crop details</u></h1><br>
<h4><b>* Choice of crops and varieties</b></h4><br>
<p>
All species and varieties that are cultivated should be adapted to the soil and climatic
conditions and be naturally resistant to pest and disease of the region. All seeds and planting
materials should be from crops of organic cultivation. When organic planting materials are
not available, chemically untreated conventional planting materials shall be used initially.
The use of genetically engineered seeds, pollen, transgenic plants and plant materials is not
allowed.
  </p><br>
<h4><b>
* Conversion period
</h4></b><br>
 <p>
The establishment of an organic management system and building of soil fertility requires
an interim period, the conversion period. The duration of the conversion period will depend
upon<br>
i. The past use of the land<br>
ii.The ecological situation<br>
The plant products produced annually can be certified organic when the national
standards requirements have been met during a conversion period of atleast two years
before sowing or in the case of perennial crops other than grassland, atleast 3 years before
the first harvest of the products. Conversion period can be extended by the certification
program depending on the past use of the land and environmental conditions. The accredited
certification program may allow plant products to be sold as “produce of organic agriculture
in process of conversion” when these national standards stipulation have been met for at
least 12 months</p> <br>

<h4><b>* Manurial Policy</b></h4><br>
<p>
Sufficient quantities of biodegradable materials of microbial, plant or animal origin
should be returned to the soil to increase or atleast maintain its fertility and the biological
activity within it. Organic material must be the product of organic farms and the farms must
become self sufficient in producing such organic material
Soil fertility should be maintained or enhanced by
<ul>
<li>Raising green manure crops, leguminous crops</li>
<li>Incorporate crops residues</li>
<li>Use biodegradable materials of microbial, plant or animal origin</li>
<li>Encourage the use of on - farm organic inputs</li>
<li>Use of synthetic or chemical fertilizers and growth regulators are not permitted</li>
<li>Mineral based materials like rock phosphate, gypsum, lime etc in limited quantities and in their natural compositions.</li>
<li>Prevent the accumulation of heavy metals and other pollutants</li>
<li>Minimize the nutrient loss by management practices</li>
<li>Apply manures as per soil test results</li>
<li>Maintain adequate p H levels</li></ul>
</p><br>

<h4><b>* Pests, diseases and weed management</b></h4><br>
<p>Organic farming systems should be carried out in a way, which ensures that losses
from pests, diseases and weeds are minimized. Conditions for minimizing the loss due to
pests, diseases and weeds are<ul>
1. Balanced manurial programme<br>
2. Use of crops and varieties well adapted to the environment<br>
3. Fertile soil of high biological activities<br>
4. Adopt rotations<br>
5. Companion planting<br>
6. Green manuring<br>
7. Natural enemies of pests and diseases should be protected and encouraged.<br>
8. Cultivate trap crops</p><br><br>
<h5><b>Pest and disease control</b></h5>
<ul>
  <p><li>Prohibit the use of synthetic chemicals</li>
<li>Use preventive cultural techniques</li>
<li>Encourage and protect natural enemies</li>
<li>Use products from local plants and of biological origin prepared at the farm.</li>
<li>Prohibit the use of genetically engineered organisms and products</li>
<li>Brand name products must always be evaluated</li></ul><br>
<h5><b>Weed control</b></h5><br>
<p><ul>
<li>Slash weeding</li>
<li>Use mechanical weed control</li>
<li>Use weeded materials as much</li>
<li>Use clean equipments for organically managed areas</li>
<li>Use of synthetic herbicides, synthetic growth regulators and synthetic dyes are prohibited</li></ul>
</p><br>
<h4><b>* Plant protection</b></h4><br>
<h5><b>Pests</b></h5><br>
<h6><b>1. Brown plant hopper (Nilaparvata lugens)</b></h6><br>
<p>The first instar nymphs are white in
colour. Later turn ochraceous brown in
colour. Adults are also ochraceous brown
coloured.<br>
<strong>Symptoms:</strong> Nymphs and adults suck sap
from the basal portion of the plants. In
severe cases plants dry up in circular
patches causing “hopper burn” symptoms.<img src="{% static "blog/brown_plant_hopper.png" %}"  style="width: 100px; height: 100px;" align="right" /></p><br><br><br>
<h6><b>2. Leaf folder (Cnaphalocrocis medinalis)</b></h6><br>
<p>The moth is orange yellow with many brown wavy lines and bands on the wing. The
newly hatched larva is greenish white in colour; the full grown larva is light greenish in
colour.
Symptoms: The larvae fold the leaves or roll them longitudinally or web 2-3 leaves together
and remain inside and scrape the green matter resulting in white patches on the leaves.</p><br>
<h6><b>3. Case worm (Nymphula depunctalis)</b></h6><br>
<p>The ault is small white coloured delicate moth which has pale brown
spots and patches. Caterpillars are pale green with orange head.<br>
<strong>Symptoms:</strong> The larvae cut the leaf tips and form tubes.The larvae scrape
the leaves remaining inside the tubular leaf cases causing white patches.
Such leaf cases can be seen hanging on the under side of the leaves or floating in water. Since the larva is semi aquatic it requires water for respiration through abdominal gills. The larvae fill the leaf cases with water from the field and move up to the plants for feeding, when the oxygen exhausts they again fall to the field and fill the cases
with fresh water. This at times become a severe menace in early transplanted stage and
under conditions of water logging. Severely affected field have a whitish appearance.<img src="{% static "blog/case_worm.png" %}"  style="width: 100px; height: 100px;" align="right" /></p><br><br><br>
<h6><b>4. Gall midge (Orseolia oryzae)</b></h6><br>
<p>
Adult fly is a small mosquito like insect with long legs. The female lay eggs in between
the leaf sheath. The emerging maggots move downwards and feed on growing points leading
to gall formation.<br>
<strong>Symptom:</strong> In the place of normal central leaves a tubular gall commonly called “Silver
shoot” will be formed.</p><br>

<h6><b>5. Blue beetle (Leptispa pigmaea)</b></h6><br>
<p>Small elongated bluish coloured beetle. The damage due to this
pest is severe in northern parts of Kerala.<br>
<strong>Symptoms:</strong> White parallel streaks or patches along the axes of the
leaves. Both the adults and grubs feed on leaves.<img src="{% static "blog/blue_beetle.png" %}"  style="width: 100px; height: 100px;" align="right" /></p><br><br><br>
<h5><b>Control Pests</b></h5><br>
<p>1. Spray 2% neem oil + garlic emulsion spray.<br>
2. Dissolve 60g soap in 150 ml warm water, add soap solution to neem oil and castor oil
slowly and mix  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;well.Dilute with 6 litres of water. Add 120 g garlic paste. Take the
extract and spray.<br>
3. Apply 1.5% fish oil soap.<br>
4. For preventing mite, plant hoppers and jassids, apply 10% magnesium sulphate on
leaves, which will provide strength for plants.</p>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
</body>
</html>