
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/default.css' %}">
<link href="//fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agroworld</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<h1><font color="#2FA803">AGRO</font>WORLD</h1>
</div>
<div style="clear: both;">&nbsp;</div>
<div id="content">
<div id="colOne">
<div id="menu1">
<ul>
<li id="menu-01"><a href="/">Home</a></li>
<li id="menu-02"><a href="{% url 'about' %}">About Us</a></li>
<li id="menu-03"><a href="{% url 'crops' %}">Crops</a></li>
<li id="menu-03"><a href=" {% url 'products' %} ">Products</a></li>
<li id="menu-04"><a href=" {% url 'images' %} ">Images</a></li>
<li id="menu-05"><a href="{% url 'contact' %}">Contact Us</a></li>
</ul>
</div>
</div>
<div id="colTwo">
<h1><u>Privacy Policy</u></h1><br>
<p>
	We respects your privacy and recognizes the need to protect the personally identifiable information (any information by which you can be identified, such as name, address, and telephone number) you share with us. We would like to assure you that we follow appropriate standards when it comes to protecting your privacy on our web sites. In general, you can visit agroworld.pythonanywhere.com website without telling us who you are or revealing any personal information about yourself. We track the Internet address of the domains from which people visit us and analyze this data for trends and statistics, but the individual user remains anonymous.<br><br>

If our privacy policy changes in the future, it will be posted here and a new effective date will be shown. You should access our privacy policy regularly to ensure you understand our current policies. Please reference the privacy policy in your subject line. We will attempt to respond to all reasonable concerns or inquiries within five business days of receipt. Thank you for using agroworld.pythonanywhere.com!
</p>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
	<p>Copyright&copy; 2016&nbsp;Agroworld.pythonanywhere.com.&nbsp;All Rights Reserved&nbsp;&nbsp;&nbsp;<a href="{% url 'privacy' %}">Privacy Policy</a></p>
</div>
</body>
</html>